---
import './style.scss';

import { Image } from 'astro:assets';
import sostenibilitaImage from '@/assets/images/svg/sostenibilita.svg';
---

<section class="sostenibilita !pb-0">
    <div class="grid-container pb-[56px] md:pb-[70px]">
        <Image src={sostenibilitaImage} alt="sostenibilita" class="col-start-3 col-end-13"/>
    </div>
</section>