---
import './style.scss';

const {

} = Astro.props;
---

<section class=`stats-home relative header-dark z-10 pb-md md:pb-lg`>
    <div class="grid-container">
        <div class="flex max-md:flex-col col-start-3 gap-y-20 col-end-13">
            <div class='framed-content'>
                <div class="bubble-container">
                    <div class="bubble">
                        <div class="bubble-inner"></div>
                    </div>
                    <div class="number h1">-11.79%</div>
                </div>
                <div class="content">
                    <p class="h5">Riduzione delle emissioni di gas a effetto serra, rispetto al 2022</p>
                    <p class="h6">*dati riferiti all’anno 2023</p>
                </div>
            </div>
            <div class='framed-content'>
                <div class="bubble-container">
                    <div class="bubble">
                        <div class="bubble-inner"></div>
                    </div>
                    <div class="number h1">100%</div>
                </div>
                <div class="content">
                    <p class="h5">Utilizzo di carburante HVO di produzione vegetale</p>
                    <p class="h6">*dati riferiti all’anno 2023</p>
                </div>
            </div>
            <div class='framed-content'>
                <div class="bubble-container">
                    <div class="bubble">
                        <div class="bubble-inner"></div>
                    </div>
                    <div class="number h1">+18</div>
                </div>
                <div class="content">
                    <p class="h5">Incremento delle assunzioni a tempo indeterminato</p>
                    <p class="h6">*dati riferiti all’anno 2023</p>
                </div>
            </div>
        </div>
    </div>
</section>