---
import './style.scss';

const {

} = Astro.props;
---

<section class=`stats-home relative header-dark z-10 pb-lgMobile md:pb-lg`>
    <div class="grid-container">
        <div class="flex max-md:flex-col col-start-3 gap-y-20 col-end-13">
            <div class='framed-content'>
                <div class="bubble-container">
                    <div class="bubble">
                        <div class="bubble-inner"></div>
                    </div>
                    <div class="number h1">-11.79%</div>
                </div>
                <div class="content">
                    <p class="h5">Riduzione delle emissioni di gas a effetto serra, rispetto al 2022</p>
                    <p class="h6">*dati riferiti all’anno 2023</p>
                </div>
            </div>
            <div class='framed-content'>
                <div class="bubble-container">
                    <div class="bubble">
                        <div class="bubble-inner"></div>
                    </div>
                    <div class="number h1">100%</div>
                </div>
                <div class="content">
                    <p class="h5">Utilizzo di carburante HVO di produzione vegetale</p>
                    <p class="h6">*dati riferiti all’anno 2023</p>
                </div>
            </div>
            <div class='framed-content'>
                <div class="bubble-container">
                    <div class="bubble">
                        <div class="bubble-inner"></div>
                    </div>
                    <div class="number h1">+18</div>
                </div>
                <div class="content">
                    <p class="h5">Incremento delle assunzioni a tempo indeterminato</p>
                    <p class="h6">*dati riferiti all’anno 2023</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    import { animate, easeInOut } from 'motion';

    const bubbles = document.querySelectorAll('section.stats-home .framed-content .bubble-inner');

    if(bubbles.length >= 3) {
        animate (
            bubbles[0],
            {
                scale: [1, 0.4, 1]
            },
            {
                duration: 5,
                ease: easeInOut,
                repeat: Infinity
            },
        )
        animate (
            bubbles[1],
            {
                scale: [1, 0.4, 1]
            },
            {
                duration: 13,
                ease: easeInOut,
                repeat: Infinity
            },
        )
        animate (
            bubbles[2],
            {
                scale: [1, 0.4, 1]
            },
            {
                duration: 8,
                ease: easeInOut,
                repeat: Infinity
            },
        )
    }
</script>