.stats-home {
    .framed-content {
        @media (min-width:769px) {
            flex: 0 0 33.333%;
        }

        .content {
            @apply p-4 pb-0 border border-white border-b-transparent text-white text-center;

            .h5 {
                @apply mb-6;
            }

            .h6 {
                @apply font-mono uppercase;
                font-size: 12px;
                line-height: 1;
            }
        }

        .bubble-container {
            @apply text-white flex flex-col items-center mb-20;

            .h1 {
                @apply font-thin;
            }

            .bubble {
                padding: 16px;
                width: 100%;
                aspect-ratio: 1;
                margin-bottom: 24px;

                &-inner {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: radial-gradient(circle,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 100%);
                }
            }
        }
    }
}