footer {
    position: relative;
    overflow: hidden;

    * {
        color: #fff !important;
    }

    .grid-container {
        @media (max-width:768px) {
            padding: 0 !important;
        }
    }

    figure::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 500vh;
        background-color: var(--color-dark)
    }

    .footer-top,
    .footer-mid {
        p {
            @apply mb-2;
        }
    }

    .footer-bottom {
        >p {
            @media (max-width:768px) {
                width: calc(50% - 4px) !important;
            }
        }
        
        * {
            p, a {
                display: block;
            }

            font-size: 11px;
            line-height: 15px;
        }
    }
}