---
import './style.scss';
---

<section class="news-content bg-white">
    <div class="grid-container">
        <div class="news-content-inner col-start-3 col-end-13">
            <slot />
        </div>
    </div>
</section>