.framed-content-container {
    overflow-x: clip;

    &.animated {
        @media (min-width:769px) {
            p.content {
                width: 35vw;
                margin-bottom: 56px;
            }

            &:has(.framed-content:nth-child(3)) p.content {
                width: 25vw;
            }
        }
    }
    
    .framed-content {
        min-width: 100%;

        &:not(:last-child) {
            @apply max-md:mb-6;
        }

        @media (min-width:769px) {
            min-width: 33.333%;
        }

        a.button {
            margin-right: auto;
            
            p {
                width: auto;
            }
        }
    }

    @media (min-width:769px) {
        &.animated {
            .framed-content {
                transition: min-width 0.3s ease-in-out;

                a.button {
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }

                p {
                    position: relative;

                    transition-property: top, opacity;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-in-out;
                }
            }

            // handle widths
            .framed-content {
                min-width: 50%;

                .title {
                    max-width: 25vw;
                }
            }

            &:hover {
                .framed-content {
                    min-width: 40%;

                    &:hover {
                        min-width: 60%;
                    }
                }
            }

            &:has(.framed-content:nth-child(3))
            {
                .framed-content {
                    min-width: 33.333%;

                    .title {
                        max-width: 19vw;
                    }
                }

                &:hover {
                    .framed-content {
                        min-width: 29%;

                        &:hover {
                            min-width: 42%;
                        }
                    }
                }
            }

            .framed-content {
                >p { 
                    opacity: 0; 
                    top: 20px;
                }
            }

            &:hover {
                .framed-content {
                    >p { 
                        opacity: 0; 
                        top: 20px;
                    }

                    &:hover {
                        p { 
                            opacity: 1; 
                            top: 0;
                        }

                        a.button {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}