@import '../../../stylesheets/global.scss';

section.vehicle-inspector {
    .model-selector {
        h5 {
            &::before {
                @include gradient-border(bottom);
            }
            &.selected {
                border-bottom: 2px solid #000;
            }
            @media (max-width:768px) {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    .vehicle-info {
        h5 {
            @apply pb-2 md:pb-4 mb-4 md:mb-6 relative;
            &::before {
                @include gradient-border(bottom);
            }
        }   

        .vehicle-info-inner {
            @apply flex flex-col gap-y-4 md:flex-row gap-x-[56px];
    
            >* {
                flex: 1;
            }
        }     
    }
}