---
import './style.scss';
---

<section class="page-intro w-screen max-w-full aspect-[1.25] md:aspect-[2.5] !p-0 -z-10 relative">
    <div class="w-full h-screen bg-dark fixed header-light"></div>
</section>