---
import ContattiInfo from '@/components/atoms/contatti-info/contatti-info.astro';
---

<section class="contatti bg-white header-dark pt-lgMobile md:pt-lg pb-[176px] md:pb-[320px]">
    <div class="grid-container">
        <div class="col-start-3 col-end-13">
            <ContattiInfo/>

            <h2 class="md:max-w-[45%]">Siamo qui per offrirti assistenza su misura. Ti risponderemo al più presto con tutte le informazioni di cui hai bisogno.</h2>
        </div>
    </div>
</section>