---
// Components
import Layout from '@/layouts/Layout.astro';

import Hero from '@/components/blocks/hero/hero.astro';
import ScrollingText from '@/components/blocks/scrolling-text/scrolling-text.astro';

// Assets
import heroImage from '@/assets/images/home/home-hero.webp';

---

<Layout
  title="Astro Tailwind - Home"
  description="Soluzioni di trasporto professionali, affidabili e puntuali per la tua azienda."
  activeLink="home"
>
  
  <Hero
    backgroundImage={heroImage}
    backgroundImageAlt="hero-background"
  />

  <ScrollingText
    content="Operiamo nel settore degli autotrasporti e servizi autogru da oltre 70 anni e questo non è per noi un punto d’arrivo ma di partenza ogni giorno."
  />

  <div class="bg-grey-light py-20 relative z-10"></div>
</Layout>
