@use "sass:list";

html, body {
  overscroll-behavior: none;
}

$font-size: (
  h1: (90px, 92px),
  h2: (42px, 48px),
  h3: (34px, 40px),
  h4: (28px, 34px),
  h5: (24px, 30px),
  h6: (16px, 16px),
  p: (18px, 24px),
);

$font-size-mobile: (
  h1: (46px, 48px),
  h2: (32px, 36px),
  h3: (28px, 34px),
  h4: (22px, 28px),
  h5: (20px, 26px),
  h6: (12px, 12px),
  p: (16px, 22px),
);

@each $tag, $size in $font-size {
  #{$tag}, .#{$tag} {
    font-size: list.nth($size, 1);
    line-height: list.nth($size, 2);
    font-weight: 200;
  }
}

@media (max-width:768px) {
    @each $tag, $size in $font-size-mobile {
        #{$tag}, .#{$tag} {
            font-size: list.nth($size, 1);
            line-height: list.nth($size, 2);
            font-weight: 200;
        }
    }
}

.button-text {
    font-size: 13px;
    line-height: 1;
    font-weight: 200;

    @media (min-width:769px) {
      font-size: 16px;
    }
}

.small-paragraph {
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;

  @media (min-width:769px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.grid-container {
    @apply w-full max-w-none px-5 md:px-12 grid grid-cols-12 gap-x-2 md:gap-x-3 ;
}

section {
  @apply pb-md md:pb-lg;
}

main>section:last-of-type {
  padding-bottom: 176px;
  
  @media (min-width:769px) {
    padding-bottom: 460px;
  }
}