:root {
	--color-dark: #201F1F;
	--color-light: #EFEAE6;

	--color-red: #EC1C24;
	--color-green-light: #C4D977;
	--color-green-dark: #5A7334;
	--color-grey-light: #E9E3DE;
	--color-grey-dark: #313030;
}