a.button {
    &:hover {
        &::before {
            right: -12px;
        }

        &.primary,
        &.primary-variant,
        &.secondary,
        &.secondary-variant {
            .text {
                margin-left: -12px;

                p {
                    color: var(--color-dark);
                }
            }
        }

        &.download-button {
            .text img {
                filter: brightness(20);
            }
        }
    }

    &.primary-variant:hover,
    &.secondary-variant:hover {
        p {
            color: #fff !important;
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        right: calc(100% - 40px);
        border-radius: 4px;

        transition: right 0.3s ease-in-out;
    }

    &.primary,
    &.primary-variant {
        p {
            @apply tracking-widest;
        }
        &::before {
            background-color: var(--color-red);
        }
    }
    &.secondary,
    &.secondary-variant {
        &::before {
            background-color: var(--color-grey-light);
        }

        .icon img {
            filter: brightness(0)
        }
    }
    &.tertiary,
    &.tertiary-variant,
    &.download-button {
        p {
            transition: all ease-in-out 0.3s;
        }
        &:hover {
            .text {
                background-color: var(--color-dark);
                
                p {
                    color: #fff;
                }
            }
        }
    }

    &.primary *,
    &.secondary * {
        @apply text-white;
    }
    &.primary-variant,
    &.secondary-variant {
        @apply text-dark;
    }

    .text ,
    .text img{
        transition: all 0.3s ease-in-out;
    
        p {
            font-size: 13px;
            line-height: 1;
        
            @media (min-width:769px) {
                font-size: 16px;
            }
        }
    }

    &.download-button {
        .text p {
            @media (max-width:768px) {
                display: none;
            }
        }
    }
}