section.roles {
    padding-bottom: 166px !important;

    @media (min-width:769px) {
        padding-bottom: 440px !important;
    }

    .title-content>div,
    .content-inner {
        font-size: 18px;
        font-weight: 300;
    }

    .content>.absolute {
        @apply pb-6;
    }

    h4 {
        @media (max-width:768px) {
            font-size: 28px;
            line-height: 34px;
        }
    }

    a.button.mobile-hidden {
        @media (max-width:768px) {
            display: none;
        }
    }
}