---
const {
    content
} = Astro.props;
--- 
<div class="grid grid-cols-8 gap-x-2 md:gap-x-3 border-2 border-transparent border-l-red">
    <p class="h5 font-thin col-start-2 col-end-9">
        {content}
    </p>
</div>