---
    import './style.scss';

    import BlockTab from '@/components/atoms/block-tab/block-tab.astro';
    import Button from '@/components/atoms/button/button.astro';

    const {
        content,
    } = Astro.props;

    const splitContent = content.split(/\s+/);
---

<section class="scrolling-text relative bg-dark md:pt-[160px]">
    <BlockTab 
      title="Da oltre 70 anni"
      content="Trasportiamo con cura, pensando al futuro di tutti"
      contentColor="green-light"
      backgroundColor="dark"
    />
    
    <div class="grid-container">
        <div class="content col-start-3 col-end-13">
            <div class="content-text flex flex-wrap gap-x-3 md:gap-x-6 pt-4 md:pt-0 pb-14 md:pb-20">
                {splitContent.map((word) => (
                    <span class="h1 text-white">{word}</span>
                ))}
            </div>

            <Button
                label="La nostra storia",
                url="#",
                style="primary"
            />
        </div>
    </div>
</section>
