@import '../../../stylesheets/global.scss';

.accordion-element {
    &:not(:has(.read-more)) {
        cursor: pointer;
    }

    .read-more {
        cursor: pointer;
    }

    &::before {
        @include gradient-border(top);
    }
    
    .content {
        height: 0;
        transition: height 0.3s ease-in-out;
    }

    .title img {
        transition: transform 0.3s ease-in-out;
    }

    .read-more {
        .more {
            display: inline;
        }
        .less {
            display: none;
        }
    }

    &.open {
        .title img {
            transform: rotate(270deg);
        }

        .read-more {
            .more {
                display: none;
            }
            .less {
                display: inline;
            }
        }
    }
}