---
import '@/stylesheets/vars.scss';
import '@/stylesheets/global.scss';

import Header from '@/partials/header/Header.astro';
import Footer from '@/partials/footer/Footer.astro';
import Timeline from '@/components/blocks/timeline/timeline.astro';

// Layout props
const {
  title = "Astro Tailwind",
  description = "Servizi di trasporto professionali per aziende",
  activeLink = "home",
  bodyClass = ""
} = Astro.props;
---

<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={description}>
  <title>{title}</title>

  <link rel="stylesheet" href="https://use.typekit.net/het3jqh.css">

  <link rel="stylesheet" href="/styles/tailwind.css">
</head>
<body class=`flex flex-col min-h-screen ${bodyClass}`>
  <!-- Inserisce direttamente il componente Header -->
  <Header activeLink={activeLink} />

  <!-- Contenuto principale -->
  <main class="flex-grow">
    <slot />
    <Timeline/>
  </main>

  <!-- Inserisce direttamente il componente Footer -->
  <Footer />
</body>
</html>
