---
import './style.scss';

import { Image } from 'astro:assets';

const {
  expanding,
  backgroundImage,
  backgroundImageAlt,
  headerColor,
  hasTopFade = false,
} = Astro.props;
---

<section class={`image w-screen bg-white max-w-full overflow-hidden header-${headerColor} ${expanding ? 'expanding h-[calc(100vh+160px)]' : 'h-[calc(100vh+280px)]'}`}>
    <div class=`image-container bg-light h-full ${expanding ? '-mx-2 md:-mx-4' : ''}`>
        <figure class="w-full h-full relative">
            { hasTopFade && (
                <div class={`absolute top-0 left-0 right-0 h-[200px] top-fade`}></div>
            )}
            <Image src={backgroundImage} alt={backgroundImageAlt} class=`w-full h-full object-cover ${expanding ? 'rounded-lg md:rounded-2xl' : ''}`/>
        </figure>
    </div>
</section>