section.image {
    &:not(.expanding) {
        padding: 0 !important;
    }
    
    .top-fade {
        background: linear-gradient(0deg,rgba(0,0,0,0) 0%, var(--color-light) 100%);
    }
    
    &.expanding {
        figure {
            max-width: 80%;
            margin: auto;
            
            @media (min-width:769px) {
                max-width: 60%;
            }
        }
    }
}